@model int
@{
    ViewData["Title"] = "Form Fields";
}

<div class="d-flex justify-content-between mb-3">
    <div>
        <a href="@Url.Action("Index", "Form")" class="btn btn-info">Back to Form List</a>
    </div>
    <div>
        <a href="@Url.Action("AddEdit", "Field", new { formId = Model })" class="btn btn-success">Add New Field</a>
    </div>
</div>

<div class="container mx-2">
    <table id="FieldsTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/DataTables/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            // DataTable initialization
            var table = $('#FieldsTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("LoadData", "Field", new { formId = Model })",
                    "type": "POST",
                    "contentType": "application/json; charset=utf-8",
                    "data": function (d) {
                        return JSON.stringify({
                            draw: d.draw,
                            start: d.start,
                            length: d.length,
                            searchText: d.search.value,
                            orderBy: d.order.map(o => `${d.columns[o.column].data} ${o.dir}`).join(', '),
                            fromDate: $('#fromDate').val(),
                            toDate: $('#toDate').val()
                        });
                    }
                },
                "columns": [
                    { "data": "serial" },
                    { "data": "name" },
                    { "data": "type" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="@Url.Action("AddEdit", "Field", new { id = "__id__", formId = Model })" class="btn btn-primary">Edit</a>'
                                .replace("__id__", row.id);
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<button onclick="deleteField(' + row.id + ')" class="btn btn-danger">Delete</button>';
                        }
                    }
                ]
            });

        });
        function deleteField(id) {
            if (confirm("Are you sure you want to delete this Field?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Field")/' + id,
                    type: 'DELETE',
                    success: function (result) {
                        $('#FieldsTable').DataTable().ajax.reload();
                    },
                    error: function (err) {
                        alert('Error deleting Field');
                    }
                });
            }
        }
    </script>
}
